{% extends 'email/base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        Password Reset for a Website with the Title "Some Website Title"
    </div>
    <div class="content">
        <p>Greetings, {{ username }},</p>
        <p>We've received a request to initiate a password reset for your account on "Some Website Title."</p>
        <p>If you haven't made this request, please disregard this email.</p>
        <p>However, if you did request the password reset, you can proceed by clicking the button below:</p>
        <p>
            <a class="btn" href="{{ reset_password_url }}">Reset Password</a>
        </p>
        <p>If the button doesn't work, you can alternatively copy and paste the following URL into your web browser:</p>
        <p>{{ reset_password_url }}</p>
        <p>Appreciate your attention,</p>
        <p>The {{ domain_name }} Team</p>
    </div>
</div>
{% endblock %}