@import "@/assets/scss/_variables";
@import "@/assets/scss/_fonts";

.auth-form-container {
  padding: 40px;
  border-radius: 16px;
  background-color: white;
  width: 80%;

  h3 {
    @include font-heading-2;
  }

  .form-group {
    position: relative;

    label {
      color: $tertiary-color;
      @include font-pharagraph-5;
      line-height: 24px;
    }
    input {
      color: $secondary-color;
      @include font-pharagraph-4;
    }
  }

  @media (max-width: 576px) {
    width: 80%;
    padding: 15px;
  }
  @media (max-width: 768px) {
    width: 80%;
    padding: 25px;
  }
}
